backend:
  name: github
  repo: dheerajvs/gatsby-kitchen
  branch: master

media_folder: "data/recipes/img"
public_folder: "/data/recipes/img"

collections:
  - name: "authors"
    label: "Authors"
    label_singular: "Author"
    description: >
      Details of the recipe authors.
    folder: "data/authors"
    slug: "{{slug}}"
    create: true
    fields:
      - {label: "Name", name: "title", widget: "string"}
      - {label: "Avatar", name: "avatar", widget: "image"}
      - {label: "About", name: "body", widget: "markdown"}
  - name: "categories"
    label: "Categories"
    label_singular: "Category"
    description: >
      List of recipe categories.
    folder: "data/categories"
    slug: "{{slug}}"
    create: true
    fields:
      - {label: "Name", name: "title", widget: "string"}
  - name: "cuisines"
    label: "Cuisines"
    label_singular: "Cuisine"
    description: >
      List of recipe cuisines.
    folder: "data/cuisines"
    slug: "{{slug}}"
    create: true
    fields:
      - {label: "Name", name: "title", widget: "string"}
  - name: "recipes"
    label: "Recipes"
    label_singular: "Recipe"
    description: >
      Fill up the fields for the recipe.
    folder: "data/recipes"
    slug: "{{slug}}"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - label: "Author"
        name: "author"
        widget: "relation"
        collection: "authors"
        searchFields: ["title"]
        valueField: "title"
      - {label: "Publish Date", name: "datePublished", widget: "date"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Image", name: "image", widget: "image"}
      - label: "Category"
        name: "recipeCategory"
        widget: "relation"
        collection: "categories"
        searchFields: ["title"]
        valueField: "title"
      - label: "Cuisine"
        name: "recipeCuisine"
        widget: "relation"
        collection: "cuisines"
        searchFields: ["title"]
        valueField: "title"
      - {label: "Keywords", name: "keywords", widget: "list", required: false}
      - label: "Time"
        name: "time"
        widget: "object"
        fields:
          - label: "Prep Hours"
            name: "prepHours"
            widget: "number"
            default: 0
            valueType: "int"
            min: 0
            max: 24
            pattern: ["^(0*\\d|[0-2][0-4])$", "Must be a number between 0 and 24"]
          - label: "Prep Minutes"
            name: "prepMinutes"
            widget: "number"
            default: 0
            valueType: "int"
            min: 0
            max: 59
            pattern: ["^[0-5]?\\d$", "Must be a number between 0 and 59"]
          - label: "Total Hours"
            name: "totalHours"
            widget: "number"
            default: 0
            valueType: "int"
            min: 0
            max: 24
            pattern: ["^(0*\\d|[0-2][0-4])$", "Must be a number between 0 and 24"]
          - label: "Total Minutes"
            name: "totalMinutes"
            widget: "number"
            default: 0
            valueType: "int"
            min: 0
            max: 59
            pattern: ["^[0-5]?\\d$", "Must be a number between 0 and 59"]
      - label: "Yield"
        name: "recipeYield"
        widget: "string"
      - label: "Recipe Ingredients"
        name: "recipeIngredients"
        widget: "list"
        fields:
          - label: "Section"
            name: "section"
            widget: "string"
            required: false
          - label: "Ingredients"
            name: "ingredients"
            widget: "list"
            fields:
              - {label: "Ingredient", name: "recipeIngredient", widget: "string"}
      - {label: "Instructions", name: "body", widget: "markdown"}
